<div class="banner">
<h1>first view right here</h1>
</div>
<form action="/answer">
  <div class="submission">
  <input class="your-text" type="text" name="question" placeholder="what's up?">
  <input class="submit" type="submit" value="Ask!">
  </div>
</form>
